
.contactContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(103, 88, 201);  
}
.contactContainer li {
    font-weight: bold;

}

.cardHeader {
     background-color: darkslateblue;
}

