* { 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
.header, .footer {
    background-color: light gray;
    color: purple; 
    padding: 5px; 
}
.main {
    display: block;
  }

